* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #555;
}
.signedIn {
  padding: 3vh 0;
  background: linear-gradient(to right, rgba(255,255,255,0.8), rgba(255,255,255,0.8)),url(../img/bg-img.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  min-height: 94vh;
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/***** SIDE NAV *****/

.side-nav {
  flex-basis: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 15px;
}

/* Logo */

.logo-box {
  background-color: rgba(66, 185, 171, 0.8);
  width: 100%;
  text-align: center;

  /* to be deleted */
  flex-basis: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 150px;
}

.download {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: inherit;
}

/* User */

.user-box {
  background: linear-gradient(rgba(66, 185, 171, 0.8),rgba(69, 89, 138, 0.9)), url(../img/group.jpeg) 15%;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  justify-content: space-around;
  min-height: 280px;
  max-height: 400px;
}

.user-box,
.classmates-box {
  padding: 20px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-img {
  margin: 0 10px 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
}

.preferences-wrapper {
  text-align: center;
}

.user-icons {
  margin: 0 5px;
  font-size: 20px;
}

.btn {
  display: inline-block;
  margin: 20px 7px 10px;
  padding: 5px 20px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
  color: #333;
  text-decoration: none;
  transition: all 0.4s;
}

.btn:hover {
  background-color: transparent;
  color:#fff;
}

/* Classmates */

.classmates-box {
  background: linear-gradient(rgba(167, 121, 142, 0.85),rgba(167, 121, 142, 0.85)), url(../img/desk.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
}

.classmates-no,
.last-registered {
  margin: 20px 0;
}

#totalClassmates {
  font-size: 22px;
  line-height: 27px;
  margin: 0 5px 0 0;
}

.search-wrapper {
  display: flex;
  align-content: center;
  width: 100%;
}

input[type=search] {
  padding: 5px;
  width: 80%;
  border-radius: 3px;
  border-color: transparent;
}

.icon-search {
  margin: 0 10px;
  font-size: 25px;
}

.last-registered {
  font-size: 14px;
}

.slack-icon {
  height: 14px;
  color: #fff;
  margin-right: 5px;
}

.last-user {
  display: block;
  padding-top: 10px;
}


/***** MODAL *****/
 
.modal {
  position: fixed;
  top: 0 !important;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
}

.form-center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 49, 49, 0.8);
}

.form-wrapper {
  position: relative;
  background-color: #fff;
  width: 60%;
  max-width: 800px;
  height: 600px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
}

.btn-close {
  text-decoration: none;
  color: inherit;
}

.icon-close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 35px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 85%;
  margin: auto 0;
}

.form-title {
  font-size: 30px;
  font-weight: 400;
}

.form-description {
  margin: 15px 0 25px;
  font-size: 15px;
}

#message {
  min-height: 20px;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-top: 15px;
  font-size: 13px;
  color: #777;
}

.form-field {
  padding: 5px;
  outline-color: rgba(66, 185, 171, 0.8);
  border: 1px solid rgb(223, 223, 223) !important;
}

.btn-form {
  background-color: rgba(66, 185, 171, 0.8);
  border: 2px solid rgba(66, 185, 171, 0.8);
  color: #fff;
  margin-top: 30px;
  margin-left: 0;
  padding: 5px 35px;
}

.btn-form:hover {
  color: #555;
}

/*////////////////////////////////////////////////////////////*/

#loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(253, 253, 253, 0.84);
    z-index: 99;
}

#loader .preloader-wrapper.big {
    /* top: 30%; */
}


.signedIn,
.signedOut {
  display: none; }

  .signedOut {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(66, 185, 171, 0.8),rgba(69, 89, 138, 0.9)), url(../img/login-bg.jpg) center;
    background-size: cover;
    background-repeat: no-repeat; 
}
    .signedOut .inner {
      width: 90%;
      margin: 0 auto;
      padding-top: 15%;
      text-align: center; }
      .signedOut .inner h1 {
        margin: 0 0 1rem 0;
        color: #fff;
        font-size: 50px; 
        font-weight: 300;}


.signedIn #signout {
  margin-left: 1rem; }


.students::-webkit-scrollbar {
  width: .6em;
}

.students::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}

.students::-webkit-scrollbar-thumb {
background-color: #d81b60;
outline: 1px solid slategrey;
}

/*# sourceMappingURL=app.css.map */

.link-container {
  text-align: center;
  padding: 15px;
  width: 100%;
}

.graphic {
  font-size: 12px;
  color: #424242;
}

.progress .indeterminate {
  background: #c50048;
}

.progress {
  background: #fa9bc6;
}


.search-results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f82440;
  margin-bottom: 10px;
  position: relative;
}

.language-filter {
  display: block;
  cursor: pointer;
  width: auto;
  padding: 5px;
}

.language-filter:focus, .language-filter:active {
  outline: none;
}

.closeFilter {
  color: #f82440;
  font-size: 13px;
  cursor: pointer;
  position: absolute;
  top: -14px;
  right: 0;
}

/*////////////////////////////////////////////////////////////*/

/***** TRACKS & PROJECTS SECTION *****/

.explore-box {
  flex: 1;
}

/* Tracks */

.tracks {
  padding: 25px 20px 20px;
  display: flex;
  justify-content: space-around;
}

.track-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: #fff;
  font-size: 17px;
  color: inherit;
  box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}

.track-button:focus {
  border: 2px solid #41c5b6;
}


/* Projects */

.track-details {
  padding: 30px;
  display: flex;
}

.projects {
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

.border {
  border: 1px solid rgb(218, 218, 218);
  box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
}

.projects, 
.info-block {
  flex-basis: 50%;
  margin: 0 20px;
  height: 100%;
}

.project-button {
  cursor: pointer;
  padding: 15px;
  position: relative;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  outline: none;
  border: 2px solid transparent;
  transition: all 0.3s;
}

.project-button:not(.deadline) {
  border-top: 1px solid rgb(218, 218, 218);
  width: 100%;
  }

.project-button:focus {
  border: 2px solid #29ccb9;
}

.arrow-hidden {
  width: 20px;
  height: 20px;
  background-color: transparent;
  display: inline-block;
  position: absolute;
  right: -10px;
  transform: rotate(45deg);
  visibility: hidden;
  opacity: 0;
}

.arrow-show {
  visibility: visible;
  opacity: 1;
  background-color: #41c5b6;
  transition: all 0.1s;
}

.activeButton {
  background-color: #41c5b6;
  color:#fff;
  transition: all 0.1s;
}

.deadline {
  margin: 10px;
  padding: 15px 10px;
  border: 1px solid #41c5b6;
  font-size: 13px;
  opacity: 1;
  display: block;
  transition: opacity .5 ease-out;
}

.hidden {
  opacity: 0;
  display: none;
  transition: opacity .5 ease-out;
}


/* Students */

.students {
  list-style: none;
  width: 100%;
}

.student-card {
  margin: 10px 0;
  padding: 15px 15px 25px;
  border: 1px solid rgb(218, 218, 218);
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
  min-height: 70px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.student-card:first-child {
  margin-top: 0; 
}

.slack-link {
  position: relative;
  color: inherit;
  text-decoration: none;
  outline: none;
  margin-right: auto;
}

.slack-link:focus {
  border: 1px solid #29ccb9;
}

.tooltiptext {
  visibility: hidden;
  color: #fff;
  font-family: "Lato", "sans-serif";
  font-size: 12px;
  width: 100px;
  text-align: center;
  background-color: #41c5b6;
  padding: 5px 10px;
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  border-radius: 3px;
}

.slack-link:hover .tooltiptext {
  visibility: visible;
}

.notfound {
  color: #f82440;
  font-size: 16px;
  text-align: center;
}

.user-info {
  width: 100%;
}

.icon-project, 
.icon-track,
.icon-language {
  margin-right: 5px;
  font-size: 20px;
}

.icon-project {
  margin-left: 3px;
}

.user-project,
.icon-project, 
.slack-link, 
.user-language {
  padding-bottom: 10px;
}