#explore
    .tracks
        margin-top: 2rem
        .track
            .track-button
                width: 100%
    .track-details
        .projects
            .project-button
                width: 100%
                text-align: left